
:root {
    --colorPrimaryColorPractice: #f9131b;    
    --colorOnPrimaryColorPractice: #feebec;    
    --colorSecondaryColorPractice: #f9c80e;    
    --colorOnSecondaryColorPractice: #fefaeb;    
    --colorNeutralColorPractice: #3d3d3d;    
}